.card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.product {
  &__listing{
    margin: 1rem 0;  // 16px;
    & .card-img {
      height: 300px;
    }
  }
  &__ordercart {
    &-title{
      text-decoration: none;
      font-size: 1.5rem;
      color: $color-dark;
      font-weight: 500;
      margin-bottom: 0.5rem;
      &:hover {
        text-decoration: none;
        color: $color-dark !important;
      }
    }
  }
}
